.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height:80px;
  margin-top: 30px;
  background-color: tomato;
}  */

/* li a {
  display: block;
  color:#967BDC;
  color:white;
  text-align: center;
  padding: 18px 25px;
  font-size: 19px;
  text-decoration: none;
  float:right;
} */

/* li a:hover{
  color:#191919;
}
.logo{
  float:left;
  margin-top: 5px;
  position: relative;
  left:70px;
} */
/* .logo img{
  width: 60px;
  height: 60px;
} */

/* button{
  padding: 10px 30px ;
  border-radius: 50px;
  margin-top: 13px;
  font-size: 18px;
  background-image: linear-gradient(43deg,#4158d0,#c850c0);
   float:right;
   border: none;
    box-shadow: 0 3px 10px rgba(0,0,0,.35);
    margin-left: 50px;
    padding: 10 35px;
    margin-right: 20px;
    color:white;
}
button:hover{
  color:#191919;
} */

body{
background-color: #4158d0;
    background-image: linear-gradient(43deg,#4158d0,#c850c0 46%,#ffcc70);
    height: 100vh;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
@media all and (max-width:600px) {
  body{
    background-color: #4158d0;
    background-image: linear-gradient(43deg,#4158d0,#c850c0 46%,#ffcc70);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%; 
  }
}
.home{
  position: absolute;
  top:250px;
  left:150px;
  /* background-color: #c850c0; */
  height:300px;
}
@media all and (max-width:600px) {
  .home{
    left:20px;
    top:200px;
    height:250px;
  }
}
.wave{
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  animation-name: wave-animation;
  display: inline-block;
  transform-origin: 70% 70%;
}
@keyframes wave-animation {
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(14deg);
  }
  20%{
    transform: rotate(-8deg);
  }
  30%{
    transform: rotate(14deg);
  }
  40%{
    transform: rotate(-4deg);
  }
  50%{
    transform: rotate(10deg);
  }
  60%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.headtext{
  font-size:33px;
  font-weight: 600;
    letter-spacing: 1px;
    color:#191919;
    font-family: 'Raleway', sans-serif;
}

.nametext{
  font-size: 33px;
  color:#191919;
  font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}

.subtitle {
  white-space: pre-line;
  width: 100%;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  /* background-color:tomato; */
  position: relative;
  bottom: 20px;
}
.subtext{
  font-size:32px;
  color:#191919;
}
.subtext h1{
  font-family: 'Raleway', sans-serif;
}
  .tallButton{
    position:relative;
    height:30px;
    float: left;
    background:none; 
    background-color:transparent;
    border: none;
    border-radius: 15px;
    margin-top: 0.5rem;
    width: 60px;
    margin-left: 5px;
 }
 
 .tallButton img {
   position:absolute;
   top: 50%;
   left:50%;
   height:25px;
   width:25px;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }

 .tallButton:hover{
  background-color: white;
 }
 .man_image {
position: relative;
left:320px;
bottom: 70px;
width:250px;
height:400px;
 }
 @media all and (max-width:600px) {
  .headtext{
    font-size: 30px;
  }
  .nametext{
    font-size: 30px;
  }
  .subtext{
font-size: 30px;
  }
  .man_image{
    left:80px;
    top:80px;
    width:200px;
    height:300px;
  }
}

 
 .about_page{
   background-color: #4158d0; 
    background-image: linear-gradient(40deg,#4158d0,#c850c0 40%,#ffcc70);
    height:500px;
    position: relative;
    top: 110px;
    width:1100px;
    left: 120px;
    border-radius: 30px;
 }
 .about h1{
padding-top: 20px;
padding-left: 20px;
color: #191919;
    font-size: 2em;
    font-weight: 600px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
 }
 .about{
height:350px;
/* background-color: #61dafb; */
 }
 .about p{
color: #191919;
font-size: 1.2em;
padding-left: 20px;
font-weight: 400;
 }
 .about_img img{
  margin-top: 100px;
  padding-left: 150px;
  width: 380px;
  height: 250px;
 }
 .skill1{
  padding-top: 70px;
  position: absolute;
  top:290px;
  left:330px;
 }
 .skill{
  padding-left: 30px;
  position: absolute;
  top:300px;
 }
 .skill,.skill1 li{
  font-size: 18px;
  list-style-type: square;
  color: #191919;
  font-weight: 500;
 }
 
 .skill h1{
  padding-top: 20px;
padding-left: 20px;
color: #191919;
    font-size: 1.7em;
    font-weight: 600px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;

 }
 .skill li:hover{
  color: white;
 }
 .skill1 li:hover{
  color:white;
 }

 @media all and (max-width:600px) {
  .about_page{
    height:850px;
    position: relative;
    top: 120px;
    width:380px;
    left: 6px;
    border-radius: 20px;
    /* max-width: 548px; */
  }
  .about p{
    font-size: 1rem;
  }
  .skill h1{
    padding-left: 5px;
  }

  .about_img img{
    position: absolute;
    bottom:0;
    right:70px;
  }
  .skill1{
 position: absolute;
 top:400px;
 left:0;
 padding-left: 20px;
  /* background-color: #61dafb; */
  }
 }
 .address{
  /* background-color: #61dafb; */
  height:180px;
 }
 .address1{
  position:absolute;
  left:300px;
 }
 .address_image img{
  width:50px;
  height:50px;
  float:left;
  position: absolute;
  top:30px;
 }
 .address h1{
/* background-color:wheat; */
margin-top: 30px;
margin-left: 80px;
color:black;
 }
 .address h1:hover{
  color: white;
 }
 .address h4{
  /* background-color: #c850c0; */
  color:black;
  margin-top: 20px;
margin-left: 80px;
 }
 .address p{
  /* background-color: #c850c0; */
  color:black;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
margin-left: 80px;
 }
 .phone_image img{
  width:50px;
  height:50px;
  float:left;
  position: absolute;
  top:30px;
 
 }
.phone{
    /* background-color: #61dafb; */
    height:180px;
    position: relative;
    top:30px;
}
.phone h1{
margin-left: 80px;
padding-top: 30px;
/* background-color: #c850c0; */
color:black;
}
.phone h1:hover{
  color: white;
}
.phone p{
  color:black;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.contact{
  margin-top: 80px;
  margin-left: 50px;
  width:520px;
  height: 520px;
} 

.contact_page{
  height:330px;
    width:850px;
    position: relative;
    top:210px;
    left:240px;

}
.contact_heading h1{
color:#191919;
text-align: center;
padding-top: 20px;
letter-spacing: 1px;
font-size: 2.7rem;
font-weight: 700;
font-family: 'Raleway', sans-serif;
}
.contact_para p{
  margin-top: 20px;
  color:#191919;
  text-align: center;
  font-size: 18px;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    font-weight: 400;
}
.contact_btn{
  height: 50px;
  display: flex;
  justify-content: center;
}
.contact_btn button{
  border-radius: 0%;
  border:2px solid black;
  letter-spacing: 2px;
  cursor: pointer;
  width:150px;
  margin: 0 auto;
  height:45px;
  color: black;
  padding: 8px 8px ;
}
.contact_btn button:hover{
  color:white;
  border-color: white;
}
@media all and (max-width:600px) {
  .contact_page{
    height:330px;
    width:400px;
    position: relative;
    top:250px;
    left:0px;
    /* background-color: tomato; */
  }
  .contact_heading h1{
    font-size: 3rem;
  }
  .contact_para p{
    font-size: 13.5px;
    font-weight: 700;
  }
}
.project_page{
  /* background-color: tomato; */
  height:500px;
  width:100%;
  position: relative;
  top:120px;
}
.card{
  float: left;
  margin-left: 50px;
  margin-right: 30px;
  border-radius: 10px;
    background-color: initial;
    border:none;
    box-shadow: 0 4px 16px rgba(17,17,26,.1),0 8px 24px rgba(17,17,26,.1),0 16px 56px rgba(17,17,26,.1);
    
}
.cards{
  padding-top: 10px;
}
.card-img-top{
  width:300px;
  height:150px;
  margin-left: 20px;
  margin-top: 20px;
}
.card-text {
  font-size: 15px;
}
.project_btn{
  border-radius: 10px;
  border:1px solid black;
  letter-spacing: 2px;
  cursor: pointer;
  width:300px;
  height:45px;
  color: black;
  padding: 10px 10px ;
  color:white;
  font-size: 18px;
  background-color: initial;
  font-weight: 500;
}
.project_btn:hover{
  background-color:#c850c0 ;
  border: none;
}
@media all and (max-width:600px) {
  .card{
    margin-left: 25px;
    margin-bottom: 20px;
  }
}
.topnav {
  overflow: hidden;
  /* background-color: #333; */
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height:80px;
  margin-top: 20px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  /* background-color: tomato; */
}
.logo{
  float:left;
  margin-top: 5px;
 margin-left: 70px;
}
.logo {
  width: 60px;
  height: 60px;
}

.topnav .icon {
  display: none;
}

.topnav a:hover{
  color:#191919;
}
button{
  border-radius: 50px;
  font-size: 18px;
  background-image: linear-gradient(43deg,#4158d0,#c850c0);
   float:right;
   border: none;
    box-shadow: 0 3px 10px rgba(0,0,0,.35);
    margin-left: 50px;
    padding: 10px 30px;
    margin-right: 20px;
    margin-top: 10px;
    color:white;
}
.topnav button:hover{
  color:#191919;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a,button {
    float: none;
    display: block;
       text-align: center;
  }
  .topnav.responsive button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .topnav.responsive {float: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive  {
    display: block;
    width: 100%;
    text-align: left;
  }
  .logo{
    margin-left: 0;
    left:20px;
   
  }
  .topnav.responsive{
    height:390px;
    background-color: #4158d0;
    background-image: linear-gradient(43deg,#4158d0,#c850c0 0,#ffcc70);
    border-radius: 10px;
    width: 100%;
    z-index:1;
    filter: blur(0.5px);
  }
  
}